main{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: calc( 100vh - 160px);
}
.card-weather{
  width: 300px;
  height: 50px;
  border-radius: 10px;
  background-color: #fff;
  transition: 1s all ease;
  box-shadow: 4px 4px 20px rgba(0,0,0,.5);
  display: flex;
  flex-direction: column;
  align-items: center;
}
.active{
  height: 350px;
}
.container-info{
  color: #fff;
  transition: .5s all ease;
  width: 250px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.card-detail{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
  width: 100%;
}
.card-detail h1 {
  font-weight: bold;
}
.card-detail .span {
  font-size: 25px;
  font-weight: 400;
  text-align: center;
}
.show{
  opacity: 1;
  transform: scale(1);
}
.noShow{
  opacity: 0;
  transform: scale(0);
}
.nodisplay{
  display: none;
}
.card-info{
  display: flex;
  width: 100%;
  justify-content: space-around;
}
