<app-header></app-header>
<main>

  <div class="card-weather" [ngClass]="{
    'active': classCard
  }">
    <app-input-search (classCard)="showCard($event)" (weatherDataState)="weatherDataState($event)" ></app-input-search>
    <div *ngIf="!loading" class="container-info" [ngClass]="{
      'show': showText,
      'noShow': !showText
    }">
      <div class="card-detail">
        <app-clear-icon [icon]="icon"></app-clear-icon>
        <h1>{{ weather?.main?.temp | celcius }} <span>°c</span></h1>
        <span class="span">{{description | titlecase}}</span>
      </div>
      <div class="card-info">
        <div>
          <img src="../assets/humedad.png" alt="Símbolo de humedad" width="30">
          <p>
            {{weather?.main?.humidity}}% <br>
            Humidity
          </p>
        </div>
        <div>
          <img src="../assets/viento.png" alt="Símbolo de humedad" width="30">
          <p>
            {{weather?.wind?.speed}}Km/h <br>
            Wind Speed
          </p>
        </div>
      </div>
    </div>
    <app-card-error *ngIf="loading" [active]="showText"></app-card-error>
  </div>


</main>
<app-footer></app-footer>
