<!--
  TODO: crear un encabezado ligero, un h1 con un título y algún icono
 -->
<!--
   TODO: Crear caja principal.
   !Será un div con un input para buscar las ciudades
   *Componente de input
   *Componente para body del card del clima
   *Componente para el footer del card del clima
-->
<!--
  TODO: crear un footer ligero con:
  ?1-¿Quíen hizo el proyecto?
  ?2-Fecha del proyecto
  ?3-Atribuciones de autoría si corresponde
 -->

 <!-- ////////////////////////////////////////// -->
 <!--

?Se debe crear un servicio para traer los datos de la API del clima
?Configurar los environments para la APIKey
?El efecto Debounce para el input
?Crear los SVG para los iconos de los distintos climas

  -->
<header></header>
<main>
  <div class="card-weather" [ngClass]="{
    'active': classCard
  }">
    <app-input-search></app-input-search>
  </div>
  <button (click)="test()">Agrandar</button>
</main>
<footer></footer>
