.container-input{
  width: 100%;
  height: 50px;
  padding: 10px;
  border-radius: 16px 16px 0px 0px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container-input .input-search{
  border: 0px;
  outline: none;
  font-size: 20px;
  margin-left: 10px;
  background-color: transparent;
  width: 70%;
}
.icon{
  color: tomato;
}
.container-input--btn{
  border-radius: 50%;
  border: 0px;
  background-color: #b2d7dbad;
  height: 30px;
  width: 30px;
  cursor: pointer;
}
